.banner {
  position: relative; /* Create a positioning context for the pseudo-element */
  background-image: url('/bannerBackground.webp');
  background-size: cover;
  background-position: center;

  color: var(--main-color);
  padding: 3rem 1rem;
  text-align: center;
}

.banner::after {
  content: ''; /* Required to create the pseudo-element */
  position: absolute; /* Position it relative to the .banner */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.49); /* Semi-transparent overlay or any effect */
  z-index: 1; /* Ensure the pseudo-element appears above the banner */
}

.banner * {
  position: relative; /* Make them stack above the pseudo-element */
  z-index: 2; /* Higher z-index to make sure they are above the pseudo-element */
}

.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.banner p {
  font-size: 1.1rem;
  margin: 0.5rem;
}

.banner p:nth-of-type(2)::before {
  content: '📍';
}

