.navbar {
  background-color: var(--main-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  
  height: 40px;
}

.navbar-brand {
  background-image: url('/tokodrinkLogo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 5rem;
  height: 3rem;
}

.navbar-links {
  display: flex;
  list-style-type: none;
}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links a {
  text-decoration: none;
  color: var(--text-color);
}

.admin-toggle {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif; /* self made */

  font-size: 1rem;
  background-color: var(--secondary-color);
  color: var(--main-color);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.admin-toggle:hover {
  background-color: var(--secondary-fade-color);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto; /* self made */
  }

  .navbar-links {
    margin-top: 1rem;
  }
}

